.ftco-about .counter-wrap .text p {
  font-size: 20px; }
  .ftco-about .counter-wrap .text p span {
    font-weight: 400;
    color: #fff; }
  .ftco-about .counter-wrap .text p span.number {
    font-weight: 600;
    color: #ffbd39; }